<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mooindag Counter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon/favicon-96x96.png') }}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='img/favicon/favicon.svg') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon/favicon.ico') }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/favicon/apple-touch-icon.png') }}" />
    <meta name="apple-mobile-web-app-title" content="Mooindagcounter" />
    <link rel="manifest" href="{{ url_for('static', filename='img/favicon/site.webmanifest') }}" />
</head>

<body>
    <div class="container">
        <h1>Mooindag counter</h1>
        <h2>{{ counter }}</h2>
        {% if error_message == "empty" %}
        <p id="error_message">Voer een bericht in!</p>
        {% elif error_message == "duplicate" %}
        <p id="error_message">Dit bericht bestaat al!</p>
        {% elif banned_word %}
        <p id="error_message">Deze uitspraak is niet toegestaan!</p>
        {% endif %}

        <form action="/increment" method="post">
            <input maxlength="300" type="text" name="message" placeholder="Voer hier een bericht in" required="true">
            <button type="submit">Increment</button>
        </form>

        <form action="{{ url_for('overview') }}" method="get">
            <button type="submit">Overview</button>
        </form>

        <form action="https://uptime.stensel.nl/status/mooindag" method="get">
            <button type="submit">Status</button>
        </form>

        <div class="footer">Copyright Mooindagcounter</div>
    </div>
</body>

</html>
