:root {
    --default-green: #009c82;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    background-attachment: fixed;
    background-image: url("images/background.avif"); /* Verander dit pad naar jouw afbeelding */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h1 {
    font-size: 3em;
    color: #333;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.8em;
    color: #555;
    margin-bottom: 40px;
}

form {
    margin-top: 20px;
}

button {
    background-color: var(--default-green);
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

button:active {
    transform: scale(0.98);
}

input[type="text"], textarea {
    width: 100%;
    padding: 15px;
    font-size: 1.2em;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}

input[type="text"]:focus, textarea:focus {
    border-color: var(--default-green);
    outline: none;
}

.footer {
    font-size: 0.8em; 
    color: #888;
    margin-top: 30px; 
}
