<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Count Overview</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='overview.css') }}">

    <link rel="icon" type="image/png" href="/static/images" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/images/favicon.svg" />
    <link rel="shortcut icon" href="/static/images/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Mooindagcounter" />
    <link rel="manifest" href="/static/site.webmanifest" />
</head>
<body>
    <div class="container">
        <h1>Count Overview</h1>
        <p>Waarschuwing! Op deze webpagina bevinden zich mogelijk uitspraken die het daglicht niet kunnen verdragen. Betreden op eigen risico.</p>
        <p>De eigenaar van deze website is en was in geen enkele vorm aansprakelijk hiervoor.</p>
        <table>
            <thead>
                <tr>
                    <th>Count</th>
                    <th>Bericht</th>
                    <th>Datum</th>
                    <th>Tijd</th>
                </tr>
            </thead>
            <tbody>
                {% for count, message, timestamp in data %}
                <tr>
                    <td>{{ count }}</td>
                    <td>"{{ message }}"</td>
                    <td>{{ timestamp.strftime('%d-%m-%Y') }}</td>
                    <td>{{ timestamp.strftime('%H:%M') }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('index') }}">Go back to counter</a>
    </div>
</body>
</html>
